.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@-ms-viewport {
  width: device-width;
}

body {
  backdrop-filter: blur(11px);
  background-image: url('./images/purple-crystals-particles.jpeg');
  background-size: cover;
  background-blend-mode: multiply;
  width: 100vw;
  height: 100vh;
  color: black;
}
@font-face {
  font-family: BluNext;
  src: url(./fonts/BluuNext-Bold.otf);
}
@font-face {
  font-family: Sinistre;
  src: url(./fonts/Sinistre-StCaroline.woff);
}

#Time {
  font-family: Sinistre;

}

.header {
  padding: 1rem;
  text-align: center;
  display: flex;
  font-family: Sinistre;
  font-variant-ligatures: additional-ligatures;
  font-weight: bold;
  flex: content;
  flex-direction: row;
  flex-flow: row;
  justify-content:center;
  padding-left: 2rem;
  margin: auto;
  column-gap: 5vmin;
  align-items: center;
  width: 80vw;
}
.searchbar{
  font-family: BluNext;
  font-size: 2rem;
  font-weight: bold;
  justify-content: center;
  justify-items: center;
  padding: 1rem;
  padding-right:1rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  width: 50vw;
  height: 5vh;
  border:10px;
  border-color: black;
  outline: none;
  border-radius: 5rem;
  box-shadow: 0em 0.2em 0.5em #000000;
  border-radius: 1em;
  text-align: center;

}
.searchbar::placeholder{
  color: white;
  text-align: center;
}
.searchbar::-ms-value{
  text-align: center;
}

@keyframes zoomin {
  from {
    transform: scale(1)
  }

  to {
    transform: scale(1.2);
  }
}
.material-symbols-outlined{
  color: white;
}
