.apps {

  /* display: flex;
    width: 95vw;
    height: 80vh;
    box-shadow: 0em 0.2em 0.5em #000000;
    border-radius: 1em;
    flex-flow: column wrap;
     */
  display: grid;
  justify-content: center;    
  grid-column: auto;
  grid-template-columns: repeat(auto-fit, minmax(calc(100vh/4), 1fr));
  color: white;
}